In [1]:
import unicodedata #
import re #regex
import json #read/writing to json

import nltk #natural language toolkit
#don't import so I can better memorize the path :)
#from nltk.tokenize.toktok import ToktokTokenizer #breaking strings apart into component pieces
#from nltk.corpus import stopwords #filler word database

import pandas as pd

import acquire as acq

/opt/homebrew/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

##### Acquire

In [2]:
nltk.corpus.stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [3]:
headers = {'User-Agent': 'Codeup Data Science - Jemison'}
urls = ['https://codeup.com/data-science/jobs-after-a-coding-bootcamp-part-1-data-science/',
        'https://codeup.com/data-science/math-in-data-science/',
        'https://codeup.com/data-science/transition-into-data-science/',
        'https://codeup.com/data-science/data-science-career/',
        'https://codeup.com/data-science/data-science-without-a-degree/']
topics = ["business","sports","technology","entertainment"]

In [4]:
blogs = acq.get_blog_articles(urls,headers)

articles = acq.get_news_articles(topics,headers)

In [5]:
blogs.head()

,url,title,content
0,https://codeup.com/data-science/jobs-after-a-c...,What Jobs Can You Get After a Coding Bootcamp?,\nIf you are interested in embarking on a care...
1,https://codeup.com/data-science/math-in-data-s...,What are the Math and Stats Principles You Nee...,"\nComing into our Data Science program, you wi..."
2,https://codeup.com/data-science/transition-int...,What is the Transition into Data Science Like?...,\nAlumni Katy Salts and Brandi Reger joined us...
3,https://codeup.com/data-science/data-science-c...,What Data Science Career is For You? - Codeup ...,\nIf you’re struggling to see yourself as a da...
4,https://codeup.com/data-science/data-science-w...,From Slacker to Data Scientist: Journey to Dat...,\nButterflies in my belly; my stomach is tied ...

In [6]:
blogs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   url      5 non-null      object
 1   title    5 non-null      object
 2   content  5 non-null      object
dtypes: object(3)
memory usage: 248.0+ bytes

In [7]:
articles.head()

,title,content,category
0,Rupee hits record low of 79.97 against US dollar,The rupee hit a record low of 79.97 against th...,business
1,Rupee closes at an all-time low of 79.98 again...,The rupee on Monday hit a fresh record low as ...,business
2,A fighter to the core: Mahindra praises PV Sin...,Businessman Anand Mahindra took to Twitter to ...,business
3,"BCCI had ₹40 cr in bank when I joined & ₹47,68...","In an Instagram post, Lalit Modi asserted that...",business
4,11 SEBI officials' email accounts hacked & use...,Mumbai police has filed an FIR after the Secur...,business

##### 1) Define a function named basic_clean. It should take in a string and apply some basic text cleaning to it:

Lowercase everything
Normalize unicode characters
Replace anything that is not a letter, number, whitespace or a single quote.

In [8]:
def basic_clean(words):
    #Lowercase
    words = words.lower()
    #Normalize unicode
    words = unicodedata.normalize('NFKD',words).encode('ascii','ignore').decode('utf-8','ignore')
    #remove special characters
    words = re.sub(r"[^a-z0-9'\s]",'',words)
    return words

In [9]:
blogs = blogs.applymap(basic_clean)
blogs

,url,title,content
0,httpscodeupcomdatasciencejobsafteracodingbootc...,what jobs can you get after a coding bootcamp,\nif you are interested in embarking on a care...
1,httpscodeupcomdatasciencemathindatascience,what are the math and stats principles you nee...,\ncoming into our data science program you wil...
2,httpscodeupcomdatasciencetransitionintodatasci...,what is the transition into data science like ...,\nalumni katy salts and brandi reger joined us...
3,httpscodeupcomdatasciencedatasciencecareer,what data science career is for you codeup da...,\nif youre struggling to see yourself as a dat...
4,httpscodeupcomdatasciencedatasciencewithoutade...,from slacker to data scientist journey to data...,\nbutterflies in my belly my stomach is tied u...

In [10]:
#WORKS when applied to individual cell
# unicodedata.normalize('NFKD',blogs['content'][4])

In [11]:
#Does not work like this - error: "invalid normalization form"
#however, it seems to be appropritaely calling the normalize function
# blogs['content'].apply(unicodedata.normalize,args=('NFKD',))

##### 2) Define a function named tokenize. It should take in a string and tokenize all the words in the string.

In [12]:
def tokenize(words):
    toktok = nltk.tokenize.toktok.ToktokTokenizer()
    return toktok.tokenize(words, return_str=True)

In [13]:
blogs = blogs.applymap(tokenize)
blogs

,url,title,content
0,httpscodeupcomdatasciencejobsafteracodingbootc...,what jobs can you get after a coding bootcamp,if you are interested in embarking on a career...
1,httpscodeupcomdatasciencemathindatascience,what are the math and stats principles you nee...,coming into our data science program you will ...
2,httpscodeupcomdatasciencetransitionintodatasci...,what is the transition into data science like ...,alumni katy salts and brandi reger joined us a...
3,httpscodeupcomdatasciencedatasciencecareer,what data science career is for you codeup dat...,if youre struggling to see yourself as a data ...
4,httpscodeupcomdatasciencedatasciencewithoutade...,from slacker to data scientist journey to data...,butterflies in my belly my stomach is tied up ...

##### 3) Define a function named stem. It should accept some text and return the text after applying stemming to all the words.

In [14]:
def stem(words):
    #create stemmer
    ss = nltk.stem.snowball.SnowballStemmer("english")
    #for each word in string, run stemmer and store as list of individual words
    stemmed = [ss.stem(word) for word in words.split()]
    #recombine into one string and return
    #join concats the list with whatever string is provided - in this case a space
    return ' '.join(stemmed)

In [15]:
ps = nltk.porter.PorterStemmer()

In [16]:
ps.stem("testing this theory. test failed. slacker") #yup, needs just a single word

'testing this theory. test failed. slack'

In [17]:
ps.stem('theory') #weird that it does that though

'theori'

In [18]:
blogs.applymap(stem)

,url,title,content
0,httpscodeupcomdatasciencejobsafteracodingbootc...,what job can you get after a code bootcamp,if you are interest in embark on a career in t...
1,httpscodeupcomdatasciencemathindatasci,what are the math and stat principl you need f...,come into our data scienc program you will nee...
2,httpscodeupcomdatasciencetransitionintodatasci,what is the transit into data scienc like code...,alumni kati salt and brandi reger join us at a...
3,httpscodeupcomdatasciencedatasciencecar,what data scienc career is for you codeup data...,if your struggl to see yourself as a data scie...
4,httpscodeupcomdatasciencedatasciencewithoutadegre,from slacker to data scientist journey to data...,butterfli in my belli my stomach is tie up in ...

**Notes:** Weird things this is doing:
- theory to theori, belly to belli
- science to scienc
- katie to kati
- struggling to struggl

##### 4) Define a function named lemmatize. It should accept some text and return the text after applying lemmatization to each word.

In [19]:
def lemmatize(words):
    #lemmatize
    wnl = nltk.stem.WordNetLemmatizer()
    #apply to individual 
    lemmas = [wnl.lemmatize(word) for word in words.split()]
    return ' '.join(lemmas)

In [20]:
blogs.applymap(lemmatize)

,url,title,content
0,httpscodeupcomdatasciencejobsafteracodingbootc...,what job can you get after a coding bootcamp,if you are interested in embarking on a career...
1,httpscodeupcomdatasciencemathindatascience,what are the math and stats principle you need...,coming into our data science program you will ...
2,httpscodeupcomdatasciencetransitionintodatasci...,what is the transition into data science like ...,alumnus katy salt and brandi reger joined u at...
3,httpscodeupcomdatasciencedatasciencecareer,what data science career is for you codeup dat...,if youre struggling to see yourself a a data s...
4,httpscodeupcomdatasciencedatasciencewithoutade...,from slacker to data scientist journey to data...,butterfly in my belly my stomach is tied up in...

##### 5) Define a function named remove_stopwords. It should accept some text and return the text after removing all the stopwords.

This function should define two optional parameters, extra_words and exclude_words. These parameters should define any additional stop words to include, and any words that we don't want to remove.

In [21]:
def remove_stopwords(words):
    stopwords_list = nltk.corpus.stopwords.words('english')
    filtered = [word for word in words.split() if word not in stopwords_list]
    return ' '.join(filtered)

In [22]:
def remove_stopwords_v2(words,extra_words=None,exclude_words=None):
    #list
    stopwords_list = nltk.corpus.stopwords.words('english')
    #convert to set
    stopwords_set = set(stopwords_list)
    #add any extra words
    if extra_words: stopwords_set.update(extra_words)
    #remove any unwanted words
    if exclude_words: stopwords_set - set(extra_words)
    filtered = [word for word in words.split() if word not in stopwords_set]
    return ' '.join(filtered)

In [23]:
blogs.applymap(remove_stopwords)

,url,title,content
0,httpscodeupcomdatasciencejobsafteracodingbootc...,jobs get coding bootcamp,interested embarking career tech youre probabl...
1,httpscodeupcomdatasciencemathindatascience,math stats principles need data science,coming data science program need know math sta...
2,httpscodeupcomdatasciencetransitionintodatasci...,transition data science like codeup data science,alumni katy salts brandi reger joined us publi...
3,httpscodeupcomdatasciencedatasciencecareer,data science career codeup data science,youre struggling see data science professional...
4,httpscodeupcomdatasciencedatasciencewithoutade...,slacker data scientist journey data science wi...,butterflies belly stomach tied knots know im t...

In [24]:
blogs.applymap(remove_stopwords_v2,**{'extra_words':['get']})

,url,title,content
0,httpscodeupcomdatasciencejobsafteracodingbootc...,jobs coding bootcamp,interested embarking career tech youre probabl...
1,httpscodeupcomdatasciencemathindatascience,math stats principles need data science,coming data science program need know math sta...
2,httpscodeupcomdatasciencetransitionintodatasci...,transition data science like codeup data science,alumni katy salts brandi reger joined us publi...
3,httpscodeupcomdatasciencedatasciencecareer,data science career codeup data science,youre struggling see data science professional...
4,httpscodeupcomdatasciencedatasciencewithoutade...,slacker data scientist journey data science wi...,butterflies belly stomach tied knots know im t...

##### 6) Use your data from the acquire to produce a dataframe of the news articles. Name the dataframe news_df.

In [25]:
news_df = acq.get_news_articles(topics,headers)
news_df.head()

,title,content,category
0,Rupee hits record low of 79.97 against US dollar,The rupee hit a record low of 79.97 against th...,business
1,Rupee closes at an all-time low of 79.98 again...,The rupee on Monday hit a fresh record low as ...,business
2,A fighter to the core: Mahindra praises PV Sin...,Businessman Anand Mahindra took to Twitter to ...,business
3,"BCCI had ₹40 cr in bank when I joined & ₹47,68...","In an Instagram post, Lalit Modi asserted that...",business
4,11 SEBI officials' email accounts hacked & use...,Mumbai police has filed an FIR after the Secur...,business

##### 7) Make another dataframe for the Codeup blog posts. Name the dataframe codeup_df.

In [26]:
codeup_df = acq.get_blog_articles(urls,headers)
codeup_df.head(3)

,url,title,content
0,https://codeup.com/data-science/jobs-after-a-c...,What Jobs Can You Get After a Coding Bootcamp?,\nIf you are interested in embarking on a care...
1,https://codeup.com/data-science/math-in-data-s...,What are the Math and Stats Principles You Nee...,"\nComing into our Data Science program, you wi..."
2,https://codeup.com/data-science/transition-int...,What is the Transition into Data Science Like?...,\nAlumni Katy Salts and Brandi Reger joined us...

#####  8) For each dataframe, produce the following columns:

- title to hold the title
- original to hold the original article/post content
- clean to hold the normalized and tokenized original with the stopwords removed.
- stemmed to hold the stemmed version of the cleaned data.
- lemmatized to hold the lemmatized version of the cleaned data.

In [27]:
news_df.rename(columns={'content':'original'},inplace=True)

In [28]:
news_df.head(1)

,title,original,category
0,Rupee hits record low of 79.97 against US dollar,The rupee hit a record low of 79.97 against th...,business

In [29]:
news_df['clean'] = news_df.original.apply(basic_clean).apply(tokenize).apply(remove_stopwords)
news_df.head(1)

,title,original,category,clean
0,Rupee hits record low of 79.97 against US dollar,The rupee hit a record low of 79.97 against th...,business,rupee hit record low 7997 us dollar monday ope...

In [30]:
news_df['stemmed'] = news_df.clean.apply(stem)
news_df['lemmatized'] = news_df.clean.apply(lemmatize)
news_df.head(1)

,title,original,category,clean,stemmed,lemmatized
0,Rupee hits record low of 79.97 against US dollar,The rupee hit a record low of 79.97 against th...,business,rupee hit record low 7997 us dollar monday ope...,rupe hit record low 7997 us dollar monday open...,rupee hit record low 7997 u dollar monday open...

In [31]:
#Now do codeup
codeup_df.rename(columns={'content':'original'},inplace=True)
codeup_df['clean'] = codeup_df.original.apply(basic_clean).apply(tokenize).apply(remove_stopwords)
codeup_df['stemmed'] = codeup_df.clean.apply(stem)
codeup_df['lemmatized'] = codeup_df.clean.apply(lemmatize)
codeup_df.head(1)

,url,title,original,clean,stemmed,lemmatized
0,https://codeup.com/data-science/jobs-after-a-c...,What Jobs Can You Get After a Coding Bootcamp?,\nIf you are interested in embarking on a care...,interested embarking career tech youre probabl...,interest embark career tech your probabl wonde...,interested embarking career tech youre probabl...

##### 9) Ask yourself:

- If your corpus is 493KB, would you prefer to use stemmed or lemmatized text?
  - Supposedly lemmatized
- If your corpus is 25MB, would you prefer to use stemmed or lemmatized text?
  - Still not huge, so maybe still lemmatized
- If your corpus is 200TB of text and you're charged by the megabyte for your hosted computational resources, would you prefer to use stemmed or lemmatized text?
  - Probably just a stem