In [1]:
import unicodedata #
import re #regex
import json #read/writing to json

import nltk #natural language toolkit
#don't import so I can better memorize the path :)
#from nltk.tokenize.toktok import ToktokTokenizer #breaking strings apart into component pieces
#from nltk.corpus import stopwords #filler word database

import pandas as pd

import acquire as acq

/opt/homebrew/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

##### Acquire

In [2]:
nltk.corpus.stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [3]:
headers = {'User-Agent': 'Codeup Data Science - Jemison'}
urls = ['https://codeup.com/data-science/jobs-after-a-coding-bootcamp-part-1-data-science/',
        'https://codeup.com/data-science/math-in-data-science/',
        'https://codeup.com/data-science/transition-into-data-science/',
        'https://codeup.com/data-science/data-science-career/',
        'https://codeup.com/data-science/data-science-without-a-degree/']
topics = ["business","sports","technology","entertainment"]

In [4]:
blogs = acq.get_blog_articles(urls,headers)

articles = acq.get_news_articles(topics,headers)

In [5]:
blogs.head()

,url,title,content
0,https://codeup.com/data-science/jobs-after-a-c...,What Jobs Can You Get After a Coding Bootcamp?,\nIf you are interested in embarking on a care...
1,https://codeup.com/data-science/math-in-data-s...,What are the Math and Stats Principles You Nee...,"\nComing into our Data Science program, you wi..."
2,https://codeup.com/data-science/transition-int...,What is the Transition into Data Science Like?...,\nAlumni Katy Salts and Brandi Reger joined us...
3,https://codeup.com/data-science/data-science-c...,What Data Science Career is For You? - Codeup ...,\nIf you’re struggling to see yourself as a da...
4,https://codeup.com/data-science/data-science-w...,From Slacker to Data Scientist: Journey to Dat...,\nButterflies in my belly; my stomach is tied ...

In [6]:
blogs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   url      5 non-null      object
 1   title    5 non-null      object
 2   content  5 non-null      object
dtypes: object(3)
memory usage: 248.0+ bytes

In [7]:
articles.head()

,title,content,category
0,Rupee hits record low of 79.97 against US dollar,The rupee hit a record low of 79.97 against th...,business
1,Rupee closes at an all-time low of 79.98 again...,The rupee on Monday hit a fresh record low as ...,business
2,A fighter to the core: Mahindra praises PV Sin...,Businessman Anand Mahindra took to Twitter to ...,business
3,"BCCI had ₹40 cr in bank when I joined & ₹47,68...","In an Instagram post, Lalit Modi asserted that...",business
4,11 SEBI officials' email accounts hacked & use...,Mumbai police has filed an FIR after the Secur...,business

##### 1) Define a function named basic_clean. It should take in a string and apply some basic text cleaning to it:

Lowercase everything
Normalize unicode characters
Replace anything that is not a letter, number, whitespace or a single quote.

In [14]:
def basic_clean(words):
    #Lowercase
    words = words.lower()
    #Normalize unicode
    words = unicodedata.normalize('NFKD',words).encode('ascii','ignore').decode('utf-8','ignore')
    #remove special characters
    words = re.sub(r"[^a-z0-9\'\s]",'',words)
    return words

In [15]:
blogs.applymap(basic_clean)
blogs

,url,title,content
0,https://codeup.com/data-science/jobs-after-a-c...,What Jobs Can You Get After a Coding Bootcamp?,\nIf you are interested in embarking on a care...
1,https://codeup.com/data-science/math-in-data-s...,What are the Math and Stats Principles You Nee...,"\nComing into our Data Science program, you wi..."
2,https://codeup.com/data-science/transition-int...,What is the Transition into Data Science Like?...,\nAlumni Katy Salts and Brandi Reger joined us...
3,https://codeup.com/data-science/data-science-c...,What Data Science Career is For You? - Codeup ...,\nIf you’re struggling to see yourself as a da...
4,https://codeup.com/data-science/data-science-w...,From Slacker to Data Scientist: Journey to Dat...,\nButterflies in my belly; my stomach is tied ...

In [13]:
#WORKS when applied to individual cell
# unicodedata.normalize('NFKD',blogs['content'][4])

In [12]:
#Does not work like this - error: "invalid normalization form"
#however, it seems to be appropritaely calling the normalize function
# blogs['content'].apply(unicodedata.normalize,args=('NFKD',))

##### 2) Define a function named tokenize. It should take in a string and tokenize all the words in the string.

##### 3) Define a function named stem. It should accept some text and return the text after applying stemming to all the words.

##### 4) Define a function named lemmatize. It should accept some text and return the text after applying lemmatization to each word.

##### 5) Define a function named remove_stopwords. It should accept some text and return the text after removing all the stopwords.

This function should define two optional parameters, extra_words and exclude_words. These parameters should define any additional stop words to include, and any words that we don't want to remove.

##### 6) Use your data from the acquire to produce a dataframe of the news articles. Name the dataframe news_df.

##### 7) Make another dataframe for the Codeup blog posts. Name the dataframe codeup_df.

#####  8) For each dataframe, produce the following columns:

- title to hold the title
- original to hold the original article/post content
- clean to hold the normalized and tokenized original with the stopwords removed.
- stemmed to hold the stemmed version of the cleaned data.
- lemmatized to hold the lemmatized version of the cleaned data.

##### 9) Ask yourself:

- If your corpus is 493KB, would you prefer to use stemmed or lemmatized text?
- If your corpus is 25MB, would you prefer to use stemmed or lemmatized text?
- If your corpus is 200TB of text and you're charged by the megabyte for your hosted computational resources, would you prefer to use stemmed or lemmatized text?